#welcome {
  justify-content: center;
  min-width: 900px;
}

.display-4 {
  font-weight: 400;
  font-size: 80px;
}

.lead {
  font-size: 25px;
}

#startBtn:focus {
  outline: none;
  box-shadow: none;
}

h1, p {
  text-align: center;
  margin-bottom: 20px;
}

h6 {
  text-align: center;
  color: rgb(223, 6, 6);
  min-width: 850px;
  margin-right: 50px;
}

#form {
  display: flex;
  justify-content: center;
  min-width: 900px;
}

.form-group {
  display: inline-block;
  margin-right: 10px;
}

#bodyContainer {
  /* border: 2px solid darkgray; */
  justify-content: center;
  display: flex;
  margin: 50px auto;
  margin-top: 50px;
  max-width: 4000px;
  min-width: 900px;
}

#firstYearTitle, #voldyTitle {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

#cardContainer, #voldyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#studentsContainer, #voldysArmy {
  border: 2px solid lightgray;
  margin: 0 10px;
  width: 2000px;
}

.card {
  margin: 10px;
  text-align: center;
}

img {
  height: 200px;
  object-fit: contain;
}

#Gryffindor {
  border: 5px solid #AE0001;
}

#Hufflepuff {
  border: 5px solid #cfb404;
}

#Ravenclaw {
  border: 5px solid #0f2986;
}

#Slytherin {
  border: 5px solid #2A623D;
}

#Death_Eater {
  border: 5px solid black;
}

.expel {
  background-color: rgb(223, 6, 6);
  outline: none;
  border: none;
}

.expel:hover {
  background-color: rgb(133, 5, 5);
}

#buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 250px;
}

/* Style the 'All Students' button */
#all {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: rgb(92, 9, 226);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 20px;
  width: 120px;
  height: 80px;
  font-size: large;
}

/* Style the 'Gryffindor' button */
#gryffindor {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #AE0001;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 20px;
  width: 120px;
  height: 80px;
  font-size: large;
}

/* Style the 'Hufflepuff' button */
#hufflepuff {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #cfb404;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 20px;
  width: 120px;
  height: 80px;
  font-size: large;
}

/* Style the 'Ravenclaw' button */
#ravenclaw {
  border: none;
  outline: none;
  padding: 12px 20px;
  background-color: #0f2986;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 16px;
  width: 120px;
  height: 80px;
  font-size: large;
}

/* Style the 'Slytherin' button */
#slytherin {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #2A623D;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 20px;
  width: 120px;
  height: 80px;
  font-size: large;
}

/* Add a dark purple background on mouse-over */
#all:hover {
  background-color: rgb(67, 7, 163);
}

/* Add a dark red background on mouse-over */
#gryffindor:hover {
  background-color: #5c0202;
}

/* Add a dark yellow background on mouse-over */
#hufflepuff:hover {
  background-color: #706102;
}

/* Add a dark blue background on mouse-over */
#ravenclaw:hover {
  background-color: #041550;
}

/* Add a dark green background on mouse-over */
#slytherin:hover {
  background-color: #053615;
}
